@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --bege: hsl(0, 0%, 80%);
  --black: hsl(0, 0%, 0%);
  --greysh: hsl(0, 0%, 20%);
  --bg: hsl(0, 0%, 0%);
  --f-f: 'Cutive Mono', monospace;
  --transition: all 0.3s ease;
}

/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
  display: none;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styling */
body {
  overflow: auto;
    -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: var(--f-f);
  color: var(--white);
  background-color: var(--bg);
  line-height: 1.5;
  font-weight: 500;
}
.route-enter {
  transform: scale(0);
}

.route-enter-active {
  animation: fadeInScale 0.3s forwards;
}

.route-exit {
  transform: scale(1);
}

.route-exit-active {
  animation: fadeOutScale 0.2s forwards;
}

@keyframes fadeInScale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes fadeOutScale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(5);
  }
}

#space {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:var(--bg);
  z-index: -1;
}
/* utility classes */

/* form */
.form {
  display: flex;
  flex-direction: column;
  gap:0.75rem;
  padding: 1rem 1.75rem;
  background-color: var(--greysh);
}
.form input, .form textarea{
  padding: 0.5rem 1rem;
  border: 1px solid var(--white);
  background-color: var(--greysh);
  color: var(--white);
  font-family: var(--f-f);
  font-size: 1rem;
  font-weight: 500;
}
.form input::placeholder,
.form textarea::placeholder {
  color: var(--bege);
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 16px 28px;
}



.form input:focus,
.form textarea:focus {
  outline: none ;
  border-color: var(--black);

}
/* typography */
.t-center {
  text-align: center;
}
.h-lg {
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: -0.04em;  
}
.h-md {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: -0.03em;  
}
.h-sm {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.02em;  
}
.t-lg {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.018em;  
}
.t-md {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.02em;  
}
.t-sm {
  font-size: 0.5rem;
  font-weight: 500;
  letter-spacing: 0.022em;  
}













header{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

nav{
  display: flex;
  gap: 16px;
  padding: 16px 28px;
  border-bottom: #D9D9D9 solid 1px;
}
.nav-icon{
  width: 32px;
  height: 32px;
  
}
.nav-icon:hover{
  fill: #FFFFFF;
  cursor: pointer;
}
.current {
  fill: #FFFFFF;
}
.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:50px;
  height: 100vh;
  
}
.home-circle{
  width:400px;
  height: 400px;
  border-radius: 50%;
  border: #FFFFFF solid 1px;
}
.home-hero{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  height: 25vh;
  color: #FFFFFF;
}

.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 56px;
  padding: 16px 56px;
  min-height:90vh ;
}
.project-card{
  background-color: #333333;
  width: 330px;
  height: 360px;
}
.project-card-video{
  width: 330px;
  height: 175px;
  background-color: #7A6B6B;
}
.project-card-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  padding: 16px;
  color: #FFFFFF;
}
.project-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-card-title{
  font-size: 1.2rem;
}
.project-card-date{
  font-size: 0.8rem;
  color: #D9D9D9;
}
.project-card-description{
  font-size: 1rem;
  color: #D9D9D9;
}
.project-card-tags{
  display: flex;
  gap: 8px;
  color: #D9D9D9;
}



.btn-default{
  all: unset;  
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-default:hover{
  background-color: #272727;
}

.contact-info{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 28px;
  color: #D9D9D9;
  background-color: #333333;
}


/* Responsive Grid */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}