@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --bege: hsl(0, 0%, 80%);
  --black: hsl(0, 0%, 0%);
  --greysh: hsl(0, 0%, 20%);
  --bg: hsl(0, 0%, 15%);
  --f-f: 'Cutive Mono', monospace;
  --transition: all 0.3s ease;
}

/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
  display: none;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styling */
body {
  overflow: auto;
    -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: var(--f-f);
  color: var(--white);
  background-color: var(--bg);
  line-height: 1.5;
  font-weight: 500;
}
.route-enter {
  transform: scale(0);
}

.route-enter-active {
  animation: fadeInScale 0.3s forwards;
}

.route-exit {
  transform: scale(1);
}

.route-exit-active {
  animation: fadeOutScale 0.2s forwards;
}

@keyframes fadeInScale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes fadeOutScale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(5);
  }
}

#space {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:var(--bg);
  z-index: -1;
}
/* utility classes */
.flex{
  display: flex;
}
.col{
  flex-direction: column;
}
.row{
  flex-direction: row;
}
.wrap{
  flex-wrap: wrap;
}
.just-c{
  justify-content: center;
}
.just-sb{
  justify-content: space-between;
}
.just-sa{
  justify-content: space-around;
}
.just-s{
  justify-content: start;
}
.just-e{
  justify-content: end;
}
.align-c{
  align-items: center;
}
.align-s{
  align-items: start;
}
.align-e{
  align-items: end;
}
.gap-05{
  gap: 0.5rem;
}
.gap-1{
  gap: 1rem;
}
.gap-2{
  gap: 2rem;
}
.h-100{
  height: 100%;
}
.w-100{
  width: 100%;
}
.h-80{
  height: 80%;
}
.w-80{
  width: 80%;
}
.h-60{
  height: 60%;
}
.w-60{
  width: 60%;
}
.h-50{
  height: 50%;
}
.w-50{
  width: 50%;
}
.h-40{
  height: 40%;
}
.w-40{
  width: 40%;
}
.h-30{
  height: 30%;
}
.w-30{
  width: 30%;
}
.max-w-550{
  max-width: 550px;
}
.p-05{
  padding: 0.5rem;
}
.p-1{
  padding: 1rem;
}
.p-2{
  padding: 2rem;
}
.pt-05{
  padding-top: 0.5rem;
}
.pt-1{
  padding-top: 1rem;
}
.pt-2{
  padding-top: 2rem;
}
.pb-05{
  padding-bottom: 0.5rem;
}
.pb-1{
  padding-bottom: 1rem;
}
.pb-2{
  padding-bottom: 2rem;
}
.relative{
  position: relative;
}
.bg-greysh{
  background-color: var(--greysh);
}
.bg-black{
  background-color: var(--black);
}
.overflowX-auto{
  overflow-x: auto;
}
/* form */
.form {
  display: flex;
  flex-direction: column;
  gap:0.75rem;
  padding: 1rem 1.75rem;
  background-color: var(--greysh);
}
.form-input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--white);
  background-color: var(--greysh);
  color: var(--white);
  font-family: var(--f-f);
  font-size: 1rem;
  font-weight: 500;
}
.form-input::placeholder{
  color: var(--bege);
}
.form-input:focus {
  outline: none ;
  border-color: var(--black);

}

/* typography */
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.xxxl {
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: -0.04em;  
}
.xxl {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: -0.03em;  
}
.xl {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.02em;  
}
.lg {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.018em;  
}
.md {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.018em;  
}
.sm {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.02em;  
}
.xs {
  font-size: 0.5rem;
  font-weight: 500;
  letter-spacing: 0.022em;  
}













header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
nav{
  display: flex;
  gap: 1rem;
  padding: 0.5rem ;
  border-bottom: #D9D9D9 solid 1px;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 5rem;
}

section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 3.5rem;
  padding: 1rem 0.5rem;
}
.nav-icon{
  width: 32px;
  height: 32px;
  fill:var(--bg)
  
}
.nav-icon:hover{
  fill: var(--white);
  cursor: pointer;
}
.current {
  fill: var(--white);}


.home-circle{
  width:400px;
  height: 400px;
  border-radius: 50%;
  border: #FFFFFF solid 1px;
}
.home-hero{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  height: 25vh;
  color: #FFFFFF;
}



.project-card{
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 450px;
  background: var(--greysh);
}
      



.btn-default{
  all: unset;  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #000000;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-default:hover{
  background-color: #272727;
}

.contact-info{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 28px;
  color: #D9D9D9;
  background-color: #333333;
}

.play-button:hover{
  cursor: pointer;
  scale: 1.1;
  transition: all 0.2s ease-in-out;
}

.keyword,.operator{
  color: violet;
}
.string{
  color: gold;
}
.number, .tag {
  color:rgb(196, 144, 13);
}
.boolean{
  color: red;
  font-style: italic;
}
.function{
  color: #82AAFF;
  font-style: italic;
}
.comment{
  color: rgb(133, 133, 133);
}
.object, .attribute{
  color:aqua;
  font-style: italic;
}


/* Responsive Grid */
@media (min-width: 1280px) {
  header{
    top: 0;
    bottom: auto;
  }
  nav{
    padding: 1rem;
  }
  section{
    padding: 6rem 8rem;
  }
  footer{
    margin-bottom: 0;
  }
  .legal{
    padding-left: 16rem;
    padding-right: 16rem;
  }
}
